<h1>情報詳細</h1>
<table>
    <tr><th>投稿日時</th><td><%= l @information.created_at %></td></tr>
    <tr><th>タイトル</th><td><%= @information.title %></td></tr>
    <tr><th>内容</th><td><%= @information.body %></td></tr>
</table>