<h1>会員一覧</h1>

<table>
  <thead></thead>
    <tr>
      <th>会員ID</th>
      <th>名前</th>
      <th>フリガナ</th>
      <th>メールアドレス</th>
    </tr>
  </thead>
  <% @customers.each do |customer| %>
  <tbody>
    <tr>
      <td><%= customer.id %></td>
      <td><%= customer.name %></td>
      <td><%= customer.name_kana %></td>
      <td><%= customer.email %></td>
    </tr>
  </tbody>
</table>
<% end %>